body {
    margin: 0;
    padding: 0;
}
.screen {
	background: #4E47F4;
    height: 1280px;
    width: 720px;
 }
 .status-bar{
    display: flex;
    height: 50px;
    justify-content: space-between;
 }
 .status-bar-left {
    background: lightgreen;
    display: flex;
    
 }
 .status-bar-right {
    background: lightgreen;
    display: flex;
 }
 .icon-frame {
	height: 950px;
	background: #d8520f
 }
 .fixed-icons-frame {
	height: 150px;
	background: #e0ef0e
 }
 .search-bar {
	height: 130px;
	background: #c10eef
 }
 .status-icon {
	height: 50px;
	width: 50px;
 }
 .icon {
	height: calc(950px / 5);
	width: calc(720px / 5);
 }
 .icon-line {
    height: calc(950px / 5);
    display: flex;
 }
