body {
  margin: 0;
  padding: 0;
}
.screen {
  background-image: url("image1.jpg");
  height: 1280px;
  width: 720px;
 }
 .status-bar{
  display: flex;
  height: 50px;
  justify-content: space-between;
 }
 .status-bar-left {
  display: flex;
    
 }
 .status-bar-right {
  display: flex;
 }
 .icon-frame {
  height: 950px;
  padding: 0px 25px 0px;
 }
 .fixed-icons-frame {
	height: 150px;
  padding: 0px 25px 0px;
  display: flex;
 }
 .search-bar {
	height: 130px;
  box-sizing: border-box;
  padding: 25px 45px 10px;
  display: flex;
 }
 .search-bar-field {
  width: 100%;
  border-radius: calc(130px / 2);
  background: white;
  opacity: 0.85;
 }
 .search-bar-button {
  height: 100%;
  width: 65px;
  margin-left: 10px;
  position: relative;
}
 .status-icon {
	height: 50px;
	width: 50px;
 }
 .status-icon-time{
  width: 100px;
  text-align: center;
  font-family: "Roboto";
  line-height: 50px;
  font-size: 30px;
 }
 .icon-container {
	height: 100%;
  width: calc(720px / 5);
  padding: 15px;
  box-sizing: border-box;
 }
 .icon {
  margin-bottom: 20px;
}
 .icon-text {
  text-align: center;
  font-family: "Roboto";
 }
 .icon-line {
  height: calc(950px / 5);
  padding: 10px 0px 0px;
  display: flex;
 }